<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "index.css">
    </head>
    <body>
        <div class="container">
            <div class="heading">
              <h1 class="title">2048</h1>
              <div class="score-container">0</div>
            </div>
          
            <div class="game-container">
              <div class="game-message">
                <p></p>
                <div class="lower">
                  <a class="retry-button">重玩</a>
                </div>
              </div>
          
              <div class="grid-container">
                <div class="grid-row">
                  <div class="grid-cell"></div>
                  <div class="grid-cell"></div>
                  <div class="grid-cell"></div>
                  <div class="grid-cell"></div>
                </div>
                <div class="grid-row">
                  <div class="grid-cell"></div>
                  <div class="grid-cell"></div>
                  <div class="grid-cell"></div>
                  <div class="grid-cell"></div>
                </div>
                <div class="grid-row">
                  <div class="grid-cell"></div>
                  <div class="grid-cell"></div>
                  <div class="grid-cell"></div>
                  <div class="grid-cell"></div>
                </div>
                <div class="grid-row">
                  <div class="grid-cell"></div>
                  <div class="grid-cell"></div>
                  <div class="grid-cell"></div>
                  <div class="grid-cell"></div>
                </div>
              </div>
          
              <div class="tile-container">
          
              </div>
            </div>
          
            

          </div>
          <div>
            <br>
            <a href = "https://codepen.io/tandaly/pen/mdpOKE" style = "display:block; margin:auto;text-align: center;">Sudoku Game from tandaly</a></div>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/1.0.6/hammer.min.js'></script>
            <script src='index.js'></script>
            </body>
</html>
