<!DOCTYPE html>
<head>

    <title>Formhub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "{{url_for('static',filename='css/styles.css')}}">
    <link rel = "stylesheet" href = "{{url_for('static',filename='css/login.css')}}">
</head>
<body>
    <section class = "hero">
        <h1 class = "logo">
            Form 
            <span class = "logo_decor">
                hub
            </span>
        </h1>
        <h2 class = "subtext">Party with {{users}} other users</h2>
        <form action = "{{url_for('login')}}" method = "POST" class = "inputs">
            <input name = "user" type = "text" placeholder="Username" required>
            <input name = "password" type = "password" placeholder="Password" required>
            <button type = "submit" class = "button__default">Login</button>
            <a href = "{{url_for('signup')}}">Signup Instead</a>
            <p style = "color:red">{{error}}</p>
        </form>
    </section>
    
</body>