<!DOCTYPE html>
<html>
  <head>
    <title>Graph Theory</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-chartjs@3.5.1/dist/vue-chartjs.min.js"></script>


    <script src="Collection-6.7.10/collection.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/index.css">
  </head>
  <body>
    <!-- Main App Container -->
    <div id="main-app">
      <section class = "hero">
        <h1>Graph Theory</h1>
      </section>
      <section class = "about">
        <h2>What is Graph Theory?</h2>
        <img src = "static/images/graph.png">
        <p>
          Graph Theory is the Theory of Graphs... or something<br><br><b>TLDR it sucks
        </p>
      </section>
      <section class = 'online'>
        <h2>Help Baba Graph The Theory Online!</h2>
        <scatter-plot></scatter-plot>
        <p>Add a point by clicking on the graph!</p>
      </section>
      <section class = 'create'>
        <h2>Or create your own graph and send it to Baba!</h2>
        <a href = "{{url_for('create')}}">
          <button>Graph!</button>
        </a>
      </section>
    </div>
    <script>
      var scatterData = {{data|tojson}}
      var add_url = "{{url_for('add_point')}}"
    </script>
    <script src = "{{url_for('static',filename='js/index.js')}}">

    </script>
  </body>
  </html>
  